<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block assets %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK"
                crossorigin="anonymous" defer></script>
        {{ render_assets('admin.js') }}
    {% endblock %}
</head>
<body
        data-script-to-load="{% block script_to_load %}{% endblock %}"
>
<div class="container py-4">
    {% block body %}{% endblock %}
</div>
</body>
</html>