<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block assets %}
        {{ render_assets('admin.js', ['jquery']) }}
    {% endblock %}
</head>
<body
        data-script-to-load="{% block script_to_load %}{% endblock %}"
>
<div class="container py-4">
    {% block body %}{% endblock %}
</div>
</body>
</html>